

@model dotNetEFCoreV3.DataContext.CustomerEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Detail Customer</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Nama</th>
        <td>@Model.CustomerName</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>@Model.Password</td>
    </tr>

</table>