

@model dotNetEFCoreV3.DataContext.CategoryEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Detail Category</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Code</th>
        <td>@Model.CategoryCode</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <th>Deskripsi</th>
        <td>@Model.Description</td>
    </tr>

</table>